###################################
# Git ignore file for Molyjam2012 #
###################################

#Folders
Library/
Temp/
Builds/
Libraries/
Debug/
Release/
run/
bin/
obj/

#Project/User Preference Files
*.pidb
*.userprefs
*.user
*.suo

#OS Junk
Thumbs.db
.DS_Store*
ehthumbs.db
Icon7



#*.sln
